.
 o .     {{motd_host_string}}
 O o :
 O o ;   AFRINIC Ltd.  --  No unauthorised use.
 o '
' ------------------------------------------------------------------

contact : {{motd_contact_email}}

--------------------------------------------------------------------
